<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HealthcareToy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A79E1A51C3001A800E0397A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A79E1B91C3001A800E0397A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A79E1C41C3001A800E0397A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
